@page "/showpersons"

<h3>Persons</h3>

@if (persons.Count == 0)
{
	<p><em>No Persons Found</em></p>
}
else
{
	<table class="table ms">
		<thead>
			<tr>
				<th>Name</th>
				<th>PaidCount</th>
				<th>UsedCount</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var person in persons)
			{
				<tr>
					<td>@person.Name</td>
					@if (@person?.PaidFor == null)
					{
						<td>0</td>
					}
					else
					{
						<td>@person?.PaidFor?.Count</td>
					}
					@if (@person?.Used == null)
					{
						<td>0</td>
					}
					else
					{
						<td>@person?.Used?.Count</td>
					}
				</tr>
			}
		</tbody>
	</table>
}

<input @bind="NewName" placeholder="Enter Name" />
<button @onclick="Submit" class="btn btn-primary">Submit</button>

@code {
	List<Person> persons = InitializeData.Persons;

	private string NewName = string.Empty;

	private void Submit()
	{
		InitializeData.Persons.Add(new Person
			{
				Name = NewName,
				PaidFor = null,
				Used = null
			});
		NewName = string.Empty;
	}
}
